/* Readonly cart quantity */
.pickpack-quantity-readonly {
    text-align: center;
}

/* Popup */
#pickpack-popup {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    z-index: 99999;
    font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
    font-size: 16px;
    font-weight: 400;
}
#pickpack-popup .pickpack-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.4);
}
#pickpack-popup .pickpack-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: transparent;
    z-index: 999990;
}
#pickpack-popup .pickpack-container {
    display: flex;
    flex-grow: 1;
    width: 80dvw;
    max-width: 785px;
    max-height: 80dvh;
    background-color: #fafdff;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.09), 0px 11px 12px 7px rgba(0, 0, 0, 0.02);
    border-radius: 25px;
    padding: 20px;
    margin-top: 120px;
    padding-top: 110px;
    transition: all 120ms;
    z-index: 999991;
    color: #1b4c46;
}
#pickpack-popup .pickpack-container a {
    text-decoration: underline;
    color: #1b4c46
}
#pickpack-popup .pickpack-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;
    max-height: 100dvh;
    padding: 20px;
}
#pickpack-popup .pickpack-img {
    position: absolute;
    top: 110px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 315px;
    z-index: 999992;
}
#pickpack-popup .pickpack-header-text {
    color: #ff792e;
    font-weight: 700;
    font-size: 2rem;
    line-height: 1;
    text-align: center;
    padding: .5rem 0;
}
#pickpack-popup .pickpack-content-text {
    font-size: 1.25rem;
    text-align: center;
    padding: .5rem 0 0 0;
}
#pickpack-popup .pickpack-warn-text {
    color: #767676;
    text-align: center;
    font-style: italic;
}
#pickpack-popup .pickpack-checkbox-wrap {
    font-size: 1.15rem;
    text-align: center;
    padding: 1rem 0;
}
#pickpack-popup .pickpack-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#pickpack-popup .pickpack-button {
    background-color: #ff792e;
    color: #fff;
    border-radius: 15px;
    padding: 15px;
    font-weight: 400;
    margin: 0 .25rem;
    cursor: pointer;
    border: 1px solid transparent;
}
#pickpack-popup .pickpack-button:hover,
#pickpack-popup .pickpack-button:active,
#pickpack-popup .pickpack-button:focus {
    background-color: #e56e29;
}
#pickpack-popup .pickpack-button.pickpack-cancel {
    background-color: transparent;
    color: #767676;
}
#pickpack-popup .pickpack-button.pickpack-cancel:hover,
#pickpack-popup .pickpack-button.pickpack-cancel:active,
#pickpack-popup .pickpack-button.pickpack-cancel:focus {
    color: #222;
    border-color: #767676;
}
#pickpack-popup .pickpack-howto-toggle {
    font-size: 1.15rem;
    text-align: center;
    cursor: pointer;
    margin: 1rem 0;
}
#pickpack-popup .pickpack-howto-toggle:after {
    content: "";
    display: inline-block;
    position: relative;
    top: .25rem;
    width: 1.15rem;
    height: 1.15rem;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' viewBox='0 0 16 16'%3e%3cg fill='%231b4c46'%3e%3cpath d='m4.464 6.05-.707.707L8 11l4.243-4.243-.707-.707L8 9.586z'/%3e%3c/g%3e%3c/svg%3e");
    background-size: contain;
    margin-left: .5rem;
}
#pickpack-popup .pickpack-howto.is-open .pickpack-howto-toggle:after {
    transform: rotate(180deg);
}
#pickpack-popup .pickpack-howto-content {
    display: none;
}
#pickpack-popup .pickpack-howto-help {
    text-align: center;
}
#pickpack-popup .pickpack-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    color: #767676;
}
#pickpack-popup .pickpack-footer-text {
    flex-grow: 1;
    color: #767676;
    text-align: center;
}
#pickpack-popup .pickpack-footer-logo {
    margin: 0 0 0 1rem;
    width: 100px;
}
#pickpack-popup .pickpack-close {
    position: absolute;
    right: 0;
    top: 0;
    width: 51px;
    height: 51px;
    font-size: 0;
    cursor: pointer;
}
#pickpack-popup .pickpack-close:before, #pickpack-popup .pickpack-close:after {
    content: '';
    position: absolute;
    background: #767676;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    -o-border-radius: 1px;
    border-radius: 1px;
    left: 14px;
    right: 14px;
    top: 30px;
    height: 3px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    -webkit-transition: all 100ms ease-in;
    -o-transition: all 100ms ease-in;
}
#pickpack-popup .pickpack-close:after {
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/* Responsive */
@media screen and (max-width: 767.98px) {
    #pickpack-popup .pickpack-container {
        margin-top: 100px;
        padding-top: 90px;
    }
    #pickpack-popup .pickpack-img {
        top: 90px;
        width: 260px;
    }
}
@media screen and (max-width: 575.98px) {
    #pickpack-popup .pickpack-container {
        margin-top: 80px;
        padding-top: 70px;
    }
    #pickpack-popup .pickpack-img {
        top: 70px;
        width: 200px;
    }
    #pickpack-popup .pickpack-footer {
        flex-direction: column;
    }
    #pickpack-popup .pickpack-footer-logo {
        margin: 1rem 0 0 0;
    }
}
